.screen__admin {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 90%;
  overflow: scroll;
}
.header__admin {
  width: 50%;
  max-width: 250px;
  margin: 0 auto 16px auto;
}
.title__admin {
  text-align: center;
  font-size: x-large;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 12px;
}
.list__users {
  margin: auto;
  height: 50vh;
  overflow: scroll;
}
.list__users__user {
  display: flex;
  width: 90%;
  margin: auto;
}
.user__name {
  display: none;
}
.user__email {
  flex: 2;
  overflow: hidden;
}
.user__buttons {
  flex: 1;
  align-self: center;
  text-align: right;
}
.user__buttons > svg {
  padding: 0 1em 0 0;
}
.list__users__header {
  display: flex;
  width: 90%;
  margin: auto;
  border-bottom: 1px solid gray;
}
.list__users__header > p {
  margin: 0 8px 8px 0;
}
.user__name__header {
  display: none;
  font-weight: bold;
}
.user__email__header {
  flex: 2;
  overflow: hidden;
  font-weight: bold;
}
.user__buttons__header {
  flex: 1;
  text-align: right;
  font-weight: bold;
}
