.navigation {
  height: 100vh;
}

.navigation__nav-bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: black;
  display: flex;
}

.link {
  flex: 1;
  display: flex;
  justify-content: center;
}

.icon {
  color: white;
  font-size: 24px;
  margin: 24px;
}

.active {
  color: #e9591c;
}