.block {
  width: 80vw;
  margin: auto;
}
.input-holder {
  font-family: 20px;
  display: flex;
  align-items: center;
}
.input-holder input {
  font-size: 1rem;
  font-weight: 400;
  border-radius: 0.3rem;
  border: 1px solid;
  margin: 1em 1em 1em 0;
  flex: 4;
}

.input-holder input:focus {
  border-color: #409eff;
  outline: none;
  box-shadow: inset 1px 1px 1px #e0e0e080, 0 0 0 3px #409eff80;
}

.input-holder label {
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 0.3rem;
  flex: 1;
  text-align: right;
}
.block p {
  font-weight: bolder;
  margin-bottom: auto;
  font-size: 20px;
}

@media screen and (min-width: 900px) {
  .block {
    width: 65vw;
  }
}

@media screen and (min-width: 1200px) {
  .block {
    width: 50vw;
    max-width: 800px;
  }
}
