.screen__runs,
.screen__runs__list {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 90%;
  overflow: scroll;
}
.screen__runs__list > .button__primary {
  position: absolute;
  bottom: 16px;
  left: 0;
  right: 0;
}
.header__runs {
  width: 50%;
  max-width: 250px;
  margin: 0 auto 16px auto;
}
.header__runs > img {
  width: 100%;
}
.title__runs {
  text-align: center;
  font-size: x-large;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 12px;
}
.list__runs__cars {
  margin: auto;
  height: 55vh;
  overflow: scroll;
}
.img__model {
  width: 75%;
  margin: auto;
}
.img__model > img {
  width: 100%;
  height: 100%;
}
.label__runs {
  display: flex;
  width: 80%;
  margin: auto;
  max-width: 400px;
}
.label__runs > p {
  flex: 1;
  margin: 8px;
}
.list__runs {
  margin: auto;
  height: 33vh;
  overflow: scroll;
}
#run__uploader {
  display: none;
}
.upload__info {
  width: 80%;
  margin: 1.5em auto;
  text-align: center;
}
.upload__info > p {
  margin: 0.5em;
}
.upload__submission > .button__secondary,
.hidden__edit > .button__primary {
  position: absolute;
  bottom: 16px;
  left: 0;
  right: 0;
}
.filter__runs__list {
  width: 40%;
  max-width: 200px;
  margin: 0 10% 0 50%;
  position: absolute;
  border: 1px solid black;
  border-radius: 6px;
  background-color: white;
}
.filter__runs__filter {
  margin: 1em;
}

/* Tall screen */
@media screen and (min-height: 900px) {
  .list__runs__cars {
    height: 60vh;
  }
}

/* Extra tall screen */
@media screen and (min-height: 1200px) {
  .list__runs__cars {
    height: 65vh;
  }
}

/* Extremely tall screen */
@media screen and (min-height: 1400px) {
  .list__runs__cars {
    height: 70vh;
  }
}
