.screen__runs {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 90%;
    overflow: scroll;
}
.header__runs {
    width: 50%;
    max-width: 250px;
    margin: 0 auto 16px auto
}
.title__runs {
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 12px;
}
.list__runs__cars {
    margin: auto;
    height: 50vh;
    overflow: scroll;
}
.list__runs__cars > div {
    margin-bottom: 5vh;
}
.img__model {
    width: 75%;
    margin: auto;
}
.label__runs {
    display: flex;
    width: 80%;
    margin: auto;
}
.label__runs > p {
    flex: 1;
    margin: 8px;
}
.list__runs {
    margin: auto;
    height: 33vh;
    overflow: scroll;
}