.chip-container {
  display: flex;
  text-align: center;
  width: 85%;
  max-width: 400px;
  margin: auto;
}
.chip {
  flex: 2;
  background-color: rgba(196, 196, 196, 0.2);
  border-radius: 25px;
  padding: 8px;
  margin: 8px 0;
}
.chip__active {
  background-color: #c4c4c4;
}
.chip__spacer {
  flex: 0.5;
}
.chip__spacer__center {
  flex: 1;
}