.screen__setting {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 90%;
  overflow: scroll;
}
* {
  box-sizing: border-box;
}

.header__setting {
  width: 50%;
  max-width: 250px;
  margin: 0 auto 16px auto;
  text-decoration: underline #e9591c 3px;
}

.header__setting > img {
  width: 100%;
}

.title__setting {
  text-align: center;
  font-size: x-large;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 12px;
}
.button__body {
  text-align: center;
  max-width: 500px;
  margin: auto;
}
.container__settings {
  width: 80%;
  margin: auto;
  max-width: 500px;
  text-align: center;
}
.container__settings > p {
  margin-bottom: 24px;
}
.container__settings h1 {
  border: none;
}
@media screen and (min-width: 900px) {
  .button__body {
    max-width: 750px;
  }
  .container__settings > p {
    margin-bottom: 36px;
    font-size: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .button__body {
    max-width: 1000px;
  }
}
