.screen__community {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 90%;
  overflow: scroll;
}
* {
  box-sizing: border-box;
}

.header__community {
  width: 50%;
  max-width: 250px;
  margin: 0 auto 16px auto;
  text-decoration: underline #e9591c 3px;
}

.title__community {
  text-align: center;
  font-size: x-large;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 12px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.table_community {
  width: 85%;
  margin: 16px auto;
  padding: 8px 0;
}

.textField {
  margin: 1000px auto;
  padding: 8px 0;
}
