.logo__create__account {
  margin: 5px auto;
  text-align: center;
  display: block;
}

.label__create__account {
  font-weight: bold;
  display: block;
  width: 100%;
  /* margin: 8px auto 0 auto; */
  max-width: 450px;
}

.create__account__disabled > div {
  background-color: rgba(100, 100, 100, 0.7);
  border-color: rgba(100, 100, 100, 0.7);
}

.register_account {
  width: 85%;
  margin: auto;
  max-width: 400px;
}
