.textField {
  font-size: 16px;
  font-weight: 400;
  border: 1px solid gray;
  margin: 10px auto;
  padding: 8px 0 8px 8px;
  width: 90%;
  max-width: 450px;
  display: block;
}
.errorTextField {
  border: 1px solid red;
  font-size: 16px;
  font-weight: 400;
  margin: 10px auto;
  padding: 8px 0 8px 8px;
  width: 90%;
  max-width: 450px;
  display: block;
}
.errorMsg {
  color: red;
  font-size: 13px;
  padding-bottom: 10px;
}
.errorChecking {
  color: gray;
  font-size: 13px;
  padding-bottom: 10px;
}
