.container{
    width: 90%;
    max-width: 500px;
    margin: 0 auto 5px auto;
}
.image{
display: inline-block;
    width: 45%;
    height: auto;
    margin: 5px;
    justify-content:center;
    vertical-align:top;
}
.infoName{
    display: inline-block;
    width: 45%;
    height: auto;
}
.infoName > h3 {
    margin: 0 0 5px 0;
}
.infoName > p {
    margin: 0;

}
img{
    width: 100%;
    height: 100%;

}
.hiddenTag{
    visibility: hidden;
}