.arrow__back {
  margin: 8px;
  position: absolute;
  top: 1em;
  left: 1em;
}
.arrow__back > svg,
.arrow__filter > svg {
  margin: 0 8px 0 0;
}
.arrow__back > label,
.arrow__filter > label {
  vertical-align: top;
}

.arrow__filter {
  flex: 1;
  margin: 8px;
  width: fit-content;
  text-align: right;
}
