.caption {
  width: 85%;
  max-width: 400px;
  margin: 8px auto 8px;
  display: flex;
  font-size: 14px;
  flex-direction: row;
}
.checkbox {
  color: black;
  font-weight: bold;
}

@media screen and (min-width: 900px) {
  .caption {
    font-size: 18px;
  }
  .checkbox > p {
    font-size: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .caption {
  }
  .checkbox {
  }
}
